@use "./mixins-vars"as *;

:root {
    // ===========Шрифт===========
    --font-family: "Roboto", sans-serif;

    // ===========Основные цвета===========
    --secondary-color: rgb(92, 144, 180);
    --primary-color: rgba(89, 186, 141, 0.302);
    --text: #616161;
    --title: #333;
    --text-gray: #616161;
    --text-white: #fff;
    --input-text: rgba(0, 0, 0, 0.7);
    --light-color: #fff;
    --primary-gradient: linear-gradient(90deg, rgba(206, 235, 221, 0.3) 0%, rgba(92, 144, 180, 0.3) 100%);
    --grey-color: #f7f8fb;
    //===========Кнопки===========
    --btn-anim-color: rgba(255, 255, 255, 0.6);

    //===========Шапка===========
    --header-text-color: #232323;
    --mob-menu-color: #fff;
    --mob-item-color: #F6F8FB;
    // ===========Бордер===========
    --border-radius: 8px;
    --border-primary-color: #a8a8a8;

    // ===========Преимущества===========
    --advantages-col-count: 5;

    // ===========Услуги===========
    --services-col-count: 4;

    // ===========gap===========
    --gap: 20px;



    body {
        overflow-x: hidden;
    }

    //container
    .container {
        max-width: 1804px;
        margin: 0 auto;

        @include respond-to("pc") {
            max-width: 1210px;
        }

        @include respond-to("pc-old") {
            max-width: 1010px;
        }

        @include respond-to("nout") {
            max-width: 800px;
        }

        @include respond-to("tab") {
            max-width: 650px;
        }

        @include respond-to("tel") {
            max-width: 410px;
        }

        @include respond-to("tel-old") {
            // max-width: 325px;
            max-width: 100%;
        }
    }

    section {
        padding: clamp-px(30, 50) clamp-px(15, 20);
    }

    header,
    footer {
        padding: 0 clamp-px(15, 20);
    }
}