@use "./mixins-vars"as *;

h1 {}

h2 {}

h2.block-title {
    color: var(--text-color);
    font-weight: 600;
    font-size: clamp-px(22, 36);
    line-height: 130%;
    margin-bottom: clamp-px(20, 30);
    text-align: center;
}

h3 {}

h4 {}

.block-title {}

p {}

ul.ul {}

ol {}

// Плейсхолдер инпутов

::-webkit-input-placeholder {
    font-family: var(--ff);
    color: var(--grey06);
}

:-ms-input-placeholder {
    font-family: var(--ff);
    color: var(--grey06);
}

:-moz-placeholder {
    font-family: var(--ff);
    color: var(--grey06);
}

::-moz-placeholder {
    font-family: var(--ff);
    color: var(--grey06);
}