@use "./mixins-vars"as *;

h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: clamp-px(36, 48);
    line-height: 130%;
    color: var(--title);
}

h1.hero-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp-px(28, 60);
    line-height: 130%;
    color: var(--text-white);
}

h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: clamp-px(32, 42);
    line-height: 130%;
    color: var(--title);
}

.block-title {
    margin-bottom: clamp-px(30, 50);
}

h3 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: clamp-px(26, 38);
    line-height: 130%;
    color: var(--title);
}

p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp-px(16, 18);
    line-height: 150%;
    color: var(--text);
}



ul.ul {
    display: flex;
    flex-direction: column;
    gap: clamp-px(12, 15);

    & li {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: clamp-px(16, 18);
        line-height: 150%;
        color: var(--text);
    }
}

ol {
    display: flex;
    flex-direction: column;
    gap: clamp-px(12, 15);

    & li {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: clamp-px(16, 18);
        line-height: 150%;
        color: var(--text);
    }
}

// Плейсхолдер инпутов

::-webkit-input-placeholder {
    font-family: var(--ff);
    color: var(--input-text);
}

:-ms-input-placeholder {
    font-family: var(--ff);
    color: var(--input-text);
}

:-moz-placeholder {
    font-family: var(--ff);
    color: var(--input-text);
}

::-moz-placeholder {
    font-family: var(--ff);
    color: var(--input-text);
}