@use "../main/mixins-vars"as *;

.advantages-prev {
    background-color: var(--primary-color);
}

.advantages-prev__container {
    display: flex;
    flex-direction: column;
}


.advantages-prev__card-box {
    --gap: clamp(0.938rem, 0.862rem + 0.32vw, 1.25rem);
    gap: var(--gap);
}

.advantages-prev__card {
    flex: 0 1 calc((100% - var(--gap) * calc(var(--advantages-col-count) - 1)) / var(--advantages-col-count));
    min-width: 300px;
    display: flex;
    align-items: center;
    gap: clamp-px(12, 15);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius);
    padding: clamp-px(15, 25);
    background: var(--light-color);
}

.advantages-prev__card-icon {
    &>svg {
        width: clamp-px(20, 25);
        height: clamp-px(20, 25);

        & path {
            fill: var(--secondary-color);
        }
    }

    &>i {
        font-size: 20px;
        color: var(--secondary-color);
    }
}