@use "../main/mixins-vars"as *;

.team-prev {
    background-color: var(--primary-color);
}

.team-prev__container {
    display: flex;
    flex-direction: column;
}

.slider-wrap {}


.team-prev__slider {}


.team-prev__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    border-radius: var(--border-radius);
    aspect-ratio: 1/1.5;
    position: relative;
    overflow: hidden;


    & .img-bg {
        transition: 0.3s;
        object-fit: cover;
        border-radius: var(--border-radius);
    }

    &:hover {
        & .img-bg {
            transition: 0.3s;
            filter: brightness(0.5);
        }

        & .team-prev__slide-text-box {
            transition: 0.3s;
            opacity: 1;
            transform: translateY(0);
        }
    }


}

.team-prev__slide-text-box {
    display: flex;
    flex-direction: column;
    background-color: var(--light-color);
    position: relative;
    width: 100%;
    padding: 20px;
    border-left: 2px solid var(--secondary-color);
    border-right: 2px solid var(--secondary-color);
    opacity: 0;
    transition: 0.3s;
    transform: translateY(50px);

    @include respond-to('tab') {
        opacity: 1;
        transform: translateY(0);
    }
}

.team-prev__slide-name {

    color: var(--title);
    font-size: clamp-px(18, 22);
    font-weight: 600;
}

.team-prev__slide-position {
    color: var(--text-gray);
    font-size: clamp-px(14, 16);
    font-weight: 400;
}