<section class='about-prev'>
    <div class='container about-prev__container'>

        <h2 class="block-title">
            О компании –<br> <span class="accent">
                создаем цифровые продукты<br>
                для роста вашего бизнеса
            </span>
        </h2>

        <div class="about-prev__box">
            <div class="about-prev__box-left-col">

                <div class="about-prev__box-text">
                    <p>
                        Мы создаем сайты, которые работают на ваш бизнес. За 10 лет мы реализовали более 250 проектов в
                        15+ отраслях - от стартапов до крупных компаний.
                    </p>

                    <p>
                        Наша философия: каждый проект должен приносить измеримую пользу. Мы не просто разрабатываем
                        сайты, а создаем инструменты для роста, обеспечивая техническое совершенство и поддержку на всех
                        этапах.
                    </p>
                </div>

                <div class="about-prev__box-card-box">
                    <div class="about-prev__box-card">

                        <div class="about-prev__box-card-img">
                            <img width='410' height='420' class='img-bg' src='@img/Mask_group_about.png' alt=''
                                loading='lazy'>
                        </div>

                        <div class="about-prev__box-card-title">
                            О компании
                        </div>

                        <div class="about-prev__box-card-subtitle">
                            Небольшое видео о нашей компании
                        </div>

                    </div>

                    <div class="about-prev__box-card">

                        <div class="about-prev__box-card-img">
                            <img width='410' height='420' class='img-bg' src='@img/Mask_group_about.png' alt=''
                                loading='lazy'>
                        </div>

                        <div class="about-prev__box-card-title">
                            О компании
                        </div>

                        <div class="about-prev__box-card-subtitle">
                            Небольшое видео о нашей компании
                        </div>

                    </div>
                </div>

            </div>

            <div class="about-prev__box-right-col">

                <div class="about-prev_video-prev">
                    <img width='809' height='773' class='img-bg' src='@img/photo_2025-10-11_23-56-08 2.png' alt=''
                        loading='lazy'>

                    <button class="player" data-fancybox data-src='#about-prev__video'>
                        <div class="player-inner ping"></div>
                        <svg width="25" height="29" viewBox="0 0 25 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.335 14.5215L0.334976 28.3779V0.665039L24.335 14.5215Z" fill="white" />
                        </svg>
                    </button>
                </div>

                <video id="about-prev__video" class="about-prev__video" controls>
                    <source src="@img/sample-5s.mp4" type="video/mp4">
                    Ваш браузер не поддерживает видео тег.
                </video>

            </div>

            <div class="about-prev__box-right-bottom scroll-snap">

                <div class="about-prev__info-item scroll-snap__item">

                    <div class="about-prev__info-item-title">
                        10+ лет
                    </div>

                    <div class="about-prev__info-item-text">
                        Опыта в веб-разработке и digital-решениях
                    </div>

                </div>

                <div class="about-prev__info-item scroll-snap__item">

                    <div class="about-prev__info-item-title">
                        10+ лет
                    </div>

                    <div class="about-prev__info-item-text">
                        Опыта в веб-разработке и digital-решениях
                    </div>

                </div>

                <div class="about-prev__info-item scroll-snap__item">

                    <div class="about-prev__info-item-title">
                        10+ лет
                    </div>

                    <div class="about-prev__info-item-text">
                        Опыта в веб-разработке и digital-решениях
                    </div>

                </div>

                <div class="about-prev__info-item scroll-snap__item">

                    <div class="about-prev__info-item-title">
                        10+ лет
                    </div>

                    <div class="about-prev__info-item-text">
                        Опыта в веб-разработке и digital-решениях
                    </div>

                </div>

                <div class="about-prev__info-item scroll-snap__item">

                    <div class="about-prev__info-item-title">
                        10+ лет
                    </div>

                    <div class="about-prev__info-item-text">
                        Опыта в веб-разработке и digital-решениях
                    </div>

                </div>

                <div class="about-prev__info-item scroll-snap__item">

                    <div class="about-prev__info-item-title">
                        10+ лет
                    </div>

                    <div class="about-prev__info-item-text">
                        Опыта в веб-разработке и digital-решениях
                    </div>

                </div>

            </div>
        </div>

    </div>
</section>