<section class='achievements-prev'>
    <div class='container achievements-prev__container'>

        <div class="title-box">

            <h2 class="block-title">
                Наши<br>
                <span class="accent">достижения</span>
            </h2>

            <div class="title-box__subtitle">
                Наша работа говорит сама за себя. Более 250 успешных проектов, довольные клиенты из 15+ отраслей и 98%
                выполненных в срок работ. Мы не просто создаем сайты — мы создаем инструменты для роста бизнеса.
            </div>

        </div>

        <div class="achievements-prev__card-box">

            <div class="achievements-prev__card" data-fancybox="achievements-gallery"
                data-src='@img/img-achievements.png'>
                <div class="achievements-prev__card-img">
                    <img width='435' height='514' class='img-bg' src='@img/img-achievements.png' alt='' loading='lazy'>
                </div>

                <div class="achievements-prev__card-title">
                    Диплом за достижение то то
                </div>

                <div class="achievements-prev__card-subtitle">
                    2022
                </div>
            </div>

            <div class="achievements-prev__card" data-fancybox="achievements-gallery"
                data-src='@img/img-achievements.png'>
                <div class="achievements-prev__card-img">
                    <img width='435' height='514' class='img-bg' src='@img/img-achievements.png' alt='' loading='lazy'>
                </div>

                <div class="achievements-prev__card-title">
                    Диплом за достижение то то
                </div>

                <div class="achievements-prev__card-subtitle">
                    2022
                </div>
            </div>

            <div class="achievements-prev__card" data-fancybox="achievements-gallery"
                data-src='@img/img-achievements.png'>
                <div class="achievements-prev__card-img">
                    <img width='435' height='514' class='img-bg' src='@img/img-achievements.png' alt='' loading='lazy'>
                </div>

                <div class="achievements-prev__card-title">
                    Диплом за достижение то то
                </div>

                <div class="achievements-prev__card-subtitle">
                    2022
                </div>
            </div>

            <div class="achievements-prev__card" data-fancybox="achievements-gallery"
                data-src='@img/img-achievements.png'>
                <div class="achievements-prev__card-img">
                    <img width='435' height='514' class='img-bg' src='@img/img-achievements.png' alt='' loading='lazy'>
                </div>

                <div class="achievements-prev__card-title">
                    Диплом за достижение то то
                </div>

                <div class="achievements-prev__card-subtitle">
                    2022
                </div>
            </div>

        </div>

        <button class="btn btn-anim achievements-prev__btn">
            <span>Загрузить еще</span>

        </button>
    </div>
</section>