<section class='advantages-prev'>
    <div class='container advantages-prev__container'>
        <h2 class="block-title">
            Почему выбирают <span class="accent">нас</span>
        </h2>

        <div class="advantages-prev__card-box scroll-snap">

            <div class="advantages-prev__card scroll-snap__item">

                <div class="advantages-prev__card-icon">
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_7_39)">
                            <path
                                d="M19.575 11.75C16.4656 11.75 13.95 14.2656 13.95 17.375C13.95 20.4844 16.4656 23 19.575 23C22.6844 23 25.2 20.4844 25.2 17.375C25.2 14.2656 22.6844 11.75 19.575 11.75ZM22.075 17.6211C22.075 17.8281 21.9031 18 21.6961 18H19.3289C19.1219 18 18.95 17.8281 18.95 17.6211V14.6289C18.95 14.4219 19.1219 14.25 19.3289 14.25H19.8211C20.0281 14.25 20.2 14.4219 20.2 14.6289V16.75H21.6961C21.9031 16.75 22.075 16.9219 22.075 17.1289V17.6211ZM12.7 17.375C12.7 16.2891 12.9617 15.2617 13.4109 14.3477C13.0984 14.2891 12.7781 14.25 12.45 14.25H11.7977C10.9305 14.6484 9.96562 14.875 8.95 14.875C7.93437 14.875 6.97343 14.6484 6.10234 14.25H5.45C2.55156 14.25 0.199997 16.6016 0.199997 19.5V21.125C0.199997 22.1602 1.03984 23 2.075 23H15.6336C13.8641 21.7539 12.7 19.6992 12.7 17.375ZM8.95 13C11.7117 13 13.95 10.7617 13.95 8C13.95 5.23828 11.7117 3 8.95 3C6.18828 3 3.95 5.23828 3.95 8C3.95 10.7617 6.18828 13 8.95 13Z"
                                fill="#5C90B4" />
                        </g>
                        <defs>
                            <clipPath id="clip0_7_39">
                                <rect width="25" height="25" fill="white" transform="translate(0.199997 0.5)" />
                            </clipPath>
                        </defs>
                    </svg>
                </div>

                <div class="advantages-prev__card-text">
                    Мы работаем с <span class="accent">2000</span> года
                </div>


            </div>

            <div class="advantages-prev__card scroll-snap__item">

                <div class="advantages-prev__card-icon">
                    <i class="fa-solid fa-face-smile"></i>
                </div>

                <div class="advantages-prev__card-text">
                    Более <span class="accent">100</span> счастливых клиентов
                </div>


            </div>

            <div class="advantages-prev__card scroll-snap__item">

                <div class="advantages-prev__card-icon">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                </div>

                <div class="advantages-prev__card-text">
                    Лучшие цены
                </div>


            </div>

            <div class="advantages-prev__card scroll-snap__item">

                <div class="advantages-prev__card-icon">
                    <i class="fa-solid fa-medal"></i>
                </div>

                <div class="advantages-prev__card-text">
                    Качественная продукция
                </div>


            </div>

            <div class="advantages-prev__card scroll-snap__item">

                <div class="advantages-prev__card-icon">
                    <i class="fa-solid fa-gauge-high"></i>
                </div>

                <div class="advantages-prev__card-text">
                    Оперативность
                </div>


            </div>

        </div>
    </div>
</section>