<section class='advantages-prev'>
    <div class='container advantages-prev__container'>
        <h2 class="block-title">
            Почему нас выбирают
        </h2>

        <div class="grid grid-cols-[repeat(auto-fit,minmax(350px,1fr))] scroll-snap-mob">

            <div class="advantages-prev__card scroll-snap__item">

                <div class="advantages-prev__card-img">
                    <img class='img-bg' src='@img/advantages-prev-img.jpg' alt='' loading='lazy'>
                </div>

                <div class="dvantages-prev__card-text-box">
                    <div class="advantages-prev__card-title">
                        Опыт 10+ лет
                    </div>

                    <div class="advantages-prev__card-text">
                        Работаем с 2014 года
                    </div>
                </div>
            </div>

            <div class="advantages-prev__card scroll-snap__item">

                <div class="advantages-prev__card-img">
                    <img class='img-bg' src='@img/advantages-prev-img.jpg' alt='' loading='lazy'>
                </div>

                <div class="dvantages-prev__card-text-box">
                    <div class="advantages-prev__card-title">
                        Фиксированные сроки
                    </div>

                    <div class="advantages-prev__card-text">
                        Чёткие дедлайны без задержек
                    </div>
                </div>
            </div>

            <div class="advantages-prev__card scroll-snap__item">

                <div class="advantages-prev__card-img">
                    <img class='img-bg' src='@img/advantages-prev-img.jpg' alt='' loading='lazy'>
                </div>

                <div class="dvantages-prev__card-text-box">
                    <div class="advantages-prev__card-title">
                        Гарантия результата
                    </div>

                    <div class="advantages-prev__card-text">
                        Исправим бесплатно, если что-то не так
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>