<section class='blog-prev'>
    <div class='container blog-prev__container'>

        <h2 class="block-title">
            Статьи
        </h2>

        <div class="blog-prev__card-box scroll-snap-mob">
            <div class="blog-prev__card scroll-snap__item">
                <div class="blog-prev__card-img">
                    <img class='img-bg' src='@img/blog-prev-img-1.jpg' alt='' loading='lazy'>
                </div>

                <div class="blog-prev__card-text-box">
                    <div class="tag-date !mb-3.5">
                        <div class="tag">
                            Дизайн
                        </div>

                        <div class="date">28.09.25</div>
                    </div>

                    <div class="blog-prev__card-title">
                        Lorem ipsum dolor
                    </div>

                    <div class="blog-prev__card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id atque totam odit soluta labore
                        nobis
                        tempora aliquid architecto, voluptatibus quia, fuga molestiae eligendi officiis veritatis eius
                        dolor
                        officia. Eius, ipsa?
                    </div>

                    <a class="blog__read-more" href="#">
                        Читать полностью
                    </a>
                </div>


            </div>

            <div class="blog-prev__card scroll-snap__item">
                <div class="blog-prev__card-img">
                    <img class='img-bg' src='@img/blog-prev-img-2.jpg' alt='' loading='lazy'>
                </div>

                <div class="blog-prev__card-text-box">
                    <div class="tag-date">
                        <div class="tag">
                            Дизайн
                        </div>

                        <div class="date">28.09.25</div>
                    </div>

                    <div class="blog-prev__card-title">
                        Lorem ipsum dolor
                    </div>

                    <div class="blog-prev__card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id atque totam odit soluta labore
                        nobis
                        tempora aliquid architecto, voluptatibus quia, fuga molestiae eligendi officiis veritatis eius
                        dolor
                        officia. Eius, ipsa?
                    </div>

                    <a class="blog__read-more" href="#">
                        Читать полностью
                    </a>
                </div>


            </div>

            <div class="blog-prev__card scroll-snap__item">
                <div class="blog-prev__card-img">
                    <div class="blog-prev__card-img">
                        <img class='img-bg' src='@img/blog-prev-img-3.jpg' alt='' loading='lazy'>
                    </div>
                </div>

                <div class="blog-prev__card-text-box">
                    <div class="tag-date">
                        <div class="tag">
                            Дизайн
                        </div>

                        <div class="date">28.09.25</div>
                    </div>

                    <div class="blog-prev__card-title">
                        Lorem ipsum dolor
                    </div>

                    <div class="blog-prev__card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id atque totam odit soluta labore
                        nobis
                        tempora aliquid architecto, voluptatibus quia, fuga molestiae eligendi officiis veritatis eius
                        dolor
                        officia. Eius, ipsa?
                    </div>

                    <a class="blog__read-more" href="#">
                        Читать полностью
                    </a>
                </div>


            </div>

            <div class="blog-prev__card scroll-snap__item">
                <div class="blog-prev__card-img">
                    <img class='img-bg' src='@img/blog-prev-img-4.jpg' alt='' loading='lazy'>
                </div>

                <div class="blog-prev__card-text-box">
                    <div class="tag-date">
                        <div class="tag">
                            Дизайн
                        </div>

                        <div class="date">28.09.25</div>
                    </div>

                    <div class="blog-prev__card-title">
                        Lorem ipsum dolor
                    </div>

                    <div class="blog-prev__card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id atque totam odit soluta labore
                        nobis
                        tempora aliquid architecto, voluptatibus quia, fuga molestiae eligendi officiis veritatis eius
                        dolor
                        officia. Eius, ipsa?
                    </div>

                    <a class="blog__read-more" href="#">
                        Читать полностью
                    </a>
                </div>


            </div>

            <div class="blog-prev__card scroll-snap__item">
                <div class="blog-prev__card-img">
                    <img class='img-bg' src='@img/blog-prev-img-5.jpg' alt='' loading='lazy'>
                </div>

                <div class="blog-prev__card-text-box">
                    <div class="tag-date">
                        <div class="tag">
                            Дизайн
                        </div>

                        <div class="date">28.09.25</div>
                    </div>

                    <div class="blog-prev__card-title">
                        Lorem ipsum dolor
                    </div>

                    <div class="blog-prev__card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id atque totam odit soluta labore
                        nobis
                        tempora aliquid architecto, voluptatibus quia, fuga molestiae eligendi officiis veritatis eius
                        dolor
                        officia. Eius, ipsa?
                    </div>

                    <a class="blog__read-more" href="#">
                        Читать полностью
                    </a>
                </div>


            </div>

            <div class="blog-prev__card scroll-snap__item">
                <div class="blog-prev__card-img">
                    <img class='img-bg' src='@img/blog-prev-img-6.jpg' alt='' loading='lazy'>
                </div>

                <div class="blog-prev__card-text-box">
                    <div class="tag-date">
                        <div class="tag">
                            Дизайн
                        </div>

                        <div class="date">28.09.25</div>
                    </div>

                    <div class="blog-prev__card-title">
                        Lorem ipsum dolor
                    </div>

                    <div class="blog-prev__card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id atque totam odit soluta labore
                        nobis
                        tempora aliquid architecto, voluptatibus quia, fuga molestiae eligendi officiis veritatis eius
                        dolor
                        officia. Eius, ipsa?
                    </div>

                    <a class="blog__read-more" href="#">
                        Читать полностью
                    </a>
                </div>


            </div>
        </div>

        <a class="btn self-center" href="#">Все статьи</a>

    </div>
</section>