<section class='blog-prev'>
    <div class='container blog-prev__container'>

        <div class="title-box">

            <h2 class="block-title">
                Наш
                <span class="accent">блог</span>
            </h2>

            <div class="title-box__subtitle">
                Делимся знаниями по в сфере автоматизации бизнеса, а также инсайтами, посещающими нас в процессе
                разработки и внедрения
            </div>

        </div>

        <div class="blog-prev__card-box scroll-snap">

            <div class="blog-prev__card scroll-snap__item">

                <a href="#" class="blog-prev__card-img">
                    <img width="237" height="190" class='img-bg' src='@img/blog-img-1.png' alt='' loading='lazy'>
                </a>

                <div class="blog-prev__card-info-box">
                    <div class="tag-box">
                        <div class="tag">
                            Веб-сайты
                        </div>
                    </div>

                    <div class="blog-prev__card-info-inner">
                        <div class="date">
                            <div class="date-icon">
                                <i class="fa-solid fa-calendar"></i>
                            </div>

                            <span>
                                21.12.2023
                            </span>
                        </div>

                        <div class="reed-time">
                            <div class="reed-time-icon">
                                <i class="fa-solid fa-clock"></i>
                            </div>

                            <span>
                                21.12.2023
                            </span>
                        </div>
                    </div>
                </div>

                <div class="blog-prev__card-text-box">


                    <div class="blog-prev__card-title">
                        Какие бывают бизнес-аналитики?
                    </div>

                    <div class="blog-prev__card-text">
                        Бизнес-аналитик — человек, который не только проводит интервью заказчика, но и помогает ему
                        сформулировать его задачи ...
                    </div>

                    <a class="link portfolio-prev__card-link" href="#">
                        <span>Подробнее</span>

                        <svg width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18.5303 6.53033C18.8232 6.23744 18.8232 5.76256 18.5303 5.46967L13.7574 0.696699C13.4645 0.403806 12.9896 0.403806 12.6967 0.696699C12.4038 0.989593 12.4038 1.46447 12.6967 1.75736L16.9393 6L12.6967 10.2426C12.4038 10.5355 12.4038 11.0104 12.6967 11.3033C12.9896 11.5962 13.4645 11.5962 13.7574 11.3033L18.5303 6.53033ZM0 6V6.75H18V6V5.25H0V6Z"
                                fill="#5C90B4"></path>
                        </svg>
                    </a>
                </div>

            </div>

            <div class="blog-prev__card scroll-snap__item">

                <a href="#" class="blog-prev__card-img">
                    <img width="237" height="190" class='img-bg' src='@img/blog-img-1.png' alt='' loading='lazy'>
                </a>

                <div class="blog-prev__card-info-box">
                    <div class="tag-box">
                        <div class="tag">
                            Веб-сайты
                        </div>
                    </div>

                    <div class="blog-prev__card-info-inner">
                        <div class="date">
                            <div class="date-icon">
                                <i class="fa-solid fa-calendar"></i>
                            </div>

                            <span>
                                21.12.2023
                            </span>
                        </div>

                        <div class="reed-time">
                            <div class="reed-time-icon">
                                <i class="fa-solid fa-clock"></i>
                            </div>

                            <span>
                                21.12.2023
                            </span>
                        </div>
                    </div>
                </div>

                <div class="blog-prev__card-text-box">


                    <div class="blog-prev__card-title">
                        Какие бывают бизнес-аналитики?
                    </div>

                    <div class="blog-prev__card-text">
                        Бизнес-аналитик — человек, который не только проводит интервью заказчика, но и помогает ему
                        сформулировать его задачи ...
                    </div>

                    <a class="link portfolio-prev__card-link" href="#">
                        <span>Подробнее</span>

                        <svg width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18.5303 6.53033C18.8232 6.23744 18.8232 5.76256 18.5303 5.46967L13.7574 0.696699C13.4645 0.403806 12.9896 0.403806 12.6967 0.696699C12.4038 0.989593 12.4038 1.46447 12.6967 1.75736L16.9393 6L12.6967 10.2426C12.4038 10.5355 12.4038 11.0104 12.6967 11.3033C12.9896 11.5962 13.4645 11.5962 13.7574 11.3033L18.5303 6.53033ZM0 6V6.75H18V6V5.25H0V6Z"
                                fill="#5C90B4"></path>
                        </svg>
                    </a>
                </div>

            </div>

            <div class="blog-prev__card scroll-snap__item">

                <a href="#" class="blog-prev__card-img">
                    <img width="237" height="190" class='img-bg' src='@img/blog-img-1.png' alt='' loading='lazy'>
                </a>

                <div class="blog-prev__card-info-box">
                    <div class="tag-box">
                        <div class="tag">
                            Веб-сайты
                        </div>
                    </div>

                    <div class="blog-prev__card-info-inner">
                        <div class="date">
                            <div class="date-icon">
                                <i class="fa-solid fa-calendar"></i>
                            </div>

                            <span>
                                21.12.2023
                            </span>
                        </div>

                        <div class="reed-time">
                            <div class="reed-time-icon">
                                <i class="fa-solid fa-clock"></i>
                            </div>

                            <span>
                                21.12.2023
                            </span>
                        </div>
                    </div>
                </div>

                <div class="blog-prev__card-text-box">


                    <div class="blog-prev__card-title">
                        Какие бывают бизнес-аналитики?
                    </div>

                    <div class="blog-prev__card-text">
                        Бизнес-аналитик — человек, который не только проводит интервью заказчика, но и помогает ему
                        сформулировать его задачи ...
                    </div>

                    <a class="link portfolio-prev__card-link" href="#">
                        <span>Подробнее</span>

                        <svg width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18.5303 6.53033C18.8232 6.23744 18.8232 5.76256 18.5303 5.46967L13.7574 0.696699C13.4645 0.403806 12.9896 0.403806 12.6967 0.696699C12.4038 0.989593 12.4038 1.46447 12.6967 1.75736L16.9393 6L12.6967 10.2426C12.4038 10.5355 12.4038 11.0104 12.6967 11.3033C12.9896 11.5962 13.4645 11.5962 13.7574 11.3033L18.5303 6.53033ZM0 6V6.75H18V6V5.25H0V6Z"
                                fill="#5C90B4"></path>
                        </svg>
                    </a>
                </div>

            </div>

            <div class="blog-prev__card scroll-snap__item">

                <a href="#" class="blog-prev__card-img">
                    <img width="237" height="190" class='img-bg' src='@img/blog-img-1.png' alt='' loading='lazy'>
                </a>

                <div class="blog-prev__card-info-box">
                    <div class="tag-box">
                        <div class="tag">
                            Веб-сайты
                        </div>
                    </div>

                    <div class="blog-prev__card-info-inner">
                        <div class="date">
                            <div class="date-icon">
                                <i class="fa-solid fa-calendar"></i>
                            </div>

                            <span>
                                21.12.2023
                            </span>
                        </div>

                        <div class="reed-time">
                            <div class="reed-time-icon">
                                <i class="fa-solid fa-clock"></i>
                            </div>

                            <span>
                                21.12.2023
                            </span>
                        </div>
                    </div>
                </div>

                <div class="blog-prev__card-text-box">


                    <div class="blog-prev__card-title">
                        Какие бывают бизнес-аналитики?
                    </div>

                    <div class="blog-prev__card-text">
                        Бизнес-аналитик — человек, который не только проводит интервью заказчика, но и помогает ему
                        сформулировать его задачи ...
                    </div>

                    <a class="link portfolio-prev__card-link" href="#">
                        <span>Подробнее</span>

                        <svg width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18.5303 6.53033C18.8232 6.23744 18.8232 5.76256 18.5303 5.46967L13.7574 0.696699C13.4645 0.403806 12.9896 0.403806 12.6967 0.696699C12.4038 0.989593 12.4038 1.46447 12.6967 1.75736L16.9393 6L12.6967 10.2426C12.4038 10.5355 12.4038 11.0104 12.6967 11.3033C12.9896 11.5962 13.4645 11.5962 13.7574 11.3033L18.5303 6.53033ZM0 6V6.75H18V6V5.25H0V6Z"
                                fill="#5C90B4"></path>
                        </svg>
                    </a>
                </div>

            </div>

        </div>

        <a class="btn self-center btn-anim" href="#">Все статьи</a>

    </div>
</section>