<!-- ===========мобильное меню ===============-->

<!-- выезжающее меню -->
<nav class="mob-nav" id="mob-menu">

    <div class="mob-nav__top">
        Меню
    </div>

    <nav>
        <ul class="mob-nav-list">
            <li class="mob-nav-item">
                <a href="#" class="mob-nav-link">Главная</a>
                <ul class="spoiler-content-menu">
                    <li class="mob-nav-item">
                        <a class="mob-nav-link" href="#">
                            второй уровень
                        </a>
                        <ul class="spoiler-content-menu">
                            <li class="mob-nav-item">
                                <a class="mob-nav-link" href="#">
                                    третий уровень
                                </a>
                            </li>

                        </ul>

                    </li>
                    <li class="mob-nav-item">
                        <a class="mob-nav-link" href="#">
                            второй уровень
                        </a>
                    </li>
                </ul>
            </li>
            <li class="mob-nav-item">
                <a href="#" class="mob-nav-link">Контакты</a>
            </li>
        </ul>
    </nav>

    <div class="mob-nav__btn-box">
        <button class="btn btn-anim">
            Начать проект
        </button>
        <a href="tel:+79999999999" class="btn btn-transparent">
            8 999 999 99 99
        </a>
    </div>

    <div class="social-box mob__social-box">
        <a href="#">
            <i class="fa-brands fa-whatsapp text-[#25D366]"></i>
        </a>

        <a href="#">
            <i class="fa-brands fa-telegram text-[#2AABEE]"></i>
        </a>
    </div>

    <div class="contact-box contact-box__mob">
        <div class="contact-box__item contact-box__item-desc phone">

            <i class="fa-solid fa-phone"></i>

            <a class="phone header__phone" href="tel:+79999999999">
                8 999 999 99 99
            </a>
        </div>

        <div class="contact-box__item contact-box__item-desc mail">

            <i class="fa-solid fa-envelope"></i>

            <a class="mail header__mail" href="mail-to:test@mail.ru">
                test@mail.ru
            </a>
        </div>

        <div class="contact-box__item">

            <i class="fa-solid fa-address-book"></i>

            <span>Красная площадь, 1, Москва</span>
        </div>


        <div class="contact-box__item">

            <i class="fa-solid fa-clock"></i>

            <span>Пн-пт с 9 до 6</span>
        </div>
    </div>

</nav>