<section class='faq-prev'>
    <div class='container faq-prev__container'>

        <h2 class="block-title">
            Вопрос-ответ
        </h2>

        <div class="faq-prev__box">

            <details class="faq-prev__spoiler-wrap">
                <summary class="faq-prev__spoiler-js">
                    Lorem ipsum dolor
                </summary>
                <div class="spoiler-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, suscipit excepturi voluptates
                    voluptas voluptate mollitia maxime, nisi, laboriosam nulla eaque repellat exercitationem. Fugiat
                    sequi, adipisci doloremque est sint alias enim.
                </div>
            </details>

            <details class="faq-prev__spoiler-wrap">
                <summary class="faq-prev__spoiler-js">
                    Lorem ipsum dolor
                </summary>
                <div class="spoiler-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, suscipit excepturi voluptates
                    voluptas voluptate mollitia maxime, nisi, laboriosam nulla eaque repellat exercitationem. Fugiat
                    sequi, adipisci doloremque est sint alias enim.
                </div>
            </details>

            <details class="faq-prev__spoiler-wrap">
                <summary class="faq-prev__spoiler-js">
                    Lorem ipsum dolor
                </summary>
                <div class="spoiler-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, suscipit excepturi voluptates
                    voluptas voluptate mollitia maxime, nisi, laboriosam nulla eaque repellat exercitationem. Fugiat
                    sequi, adipisci doloremque est sint alias enim.
                </div>
            </details>

            <details class="faq-prev__spoiler-wrap">
                <summary class="faq-prev__spoiler-js">
                    Lorem ipsum dolor
                </summary>
                <div class="spoiler-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, suscipit excepturi voluptates
                    voluptas voluptate mollitia maxime, nisi, laboriosam nulla eaque repellat exercitationem. Fugiat
                    sequi, adipisci doloremque est sint alias enim.
                </div>
            </details>

            <details class="faq-prev__spoiler-wrap">
                <summary class="faq-prev__spoiler-js">
                    Lorem ipsum dolor
                </summary>
                <div class="spoiler-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, suscipit excepturi voluptates
                    voluptas voluptate mollitia maxime, nisi, laboriosam nulla eaque repellat exercitationem. Fugiat
                    sequi, adipisci doloremque est sint alias enim.
                </div>
            </details>

            <details class="faq-prev__spoiler-wrap">
                <summary class="faq-prev__spoiler-js">
                    Lorem ipsum dolor
                </summary>
                <div class="spoiler-content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, suscipit excepturi voluptates
                    voluptas voluptate mollitia maxime, nisi, laboriosam nulla eaque repellat exercitationem. Fugiat
                    sequi, adipisci doloremque est sint alias enim.
                </div>
            </details>

        </div>

        <a class="btn self-center" href="#">Все вопросы</a>

    </div>
</section>