<footer class='footer'>
    <div class='container footer__container'>

        <div class="footer__top">

            <div class="footer__top-menu-box">

                <ul class="footer__menu">
                    <li>
                        <a href="#">
                            Главная
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            О нас
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Новости
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Контакты
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Блог
                        </a>
                    </li>
                </ul>

                <ul class="footer__menu">
                    <li>
                        <a href="#">
                            Разработка индивидуального дизайна
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Разработка сайта
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Консалтинг
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Разработка индивидуального дизайна
                        </a>
                    </li>
                </ul>

            </div>

            <div class="footer__top-contact-box">

                <div class="footer__address">
                    <i class="fa-solid fa-location-dot"></i>
                    <span>
                        Ногинский район поселок Воровского ул. Рабочая СНТ Радуга
                    </span>
                </div>

                <div class="footer__mail">
                    <i class="fa-solid fa-envelope"></i>
                    <a href="#">
                        MotorSwapCastom@yandex.ru
                    </a>
                </div>

                <div class="footer__tel">
                    <i class="fa-solid fa-phone"></i>
                    <a href="#">
                        +7(988)323-37-99
                    </a>
                </div>

                <div class="social-box header__social-box">

                    <a href="#">
                        <i class="fa-brands fa-whatsapp text-[#25D366]"></i>
                    </a>

                    <a href="#">
                        <i class="fa-brands fa-telegram text-[#2AABEE]"></i>
                    </a>
                </div>

            </div>

        </div>

        <div class="footer__bottom">
            <a class="polic" href="">
                Политика конфиендициальности
            </a>

            <a class="site-map" href="#">
                Карта сайта
            </a>


            <a class="backlink" href="#">
                <span>
                    Сайт разработон
                </span>

                <img width='' height='' class='img-bg' src='@img/logo.png' alt='' loading='lazy'>
            </a>
        </div>

    </div>
</footer>