<header class="header">
    <div class="container header__container">
        <div class="header-top">

            <div class="logo-wrap header__logo-wrap">
                <a class="logo" href="/">
                    <img width="69" height="69" src='@img/logo.png' alt='logo' loading='lazy'>
                </a>

                <span>Web<br>Дмитрий</span>
            </div>

            <div class="contact-box contact-box__header">
                <div class="contact-box__item contact-box__item-desc phone">

                    <i class="fa-solid fa-phone"></i>

                    <a class="phone header__phone" href="tel:+79999999999">
                        8 999 999 99 99
                    </a>
                </div>

                <div class="contact-box__item contact-box__item-desc mail">

                    <i class="fa-solid fa-envelope"></i>

                    <a class="mail header__mail" href="mail-to:test@mail.ru">
                        test@mail.ru
                    </a>
                </div>

                <div class="contact-box__item">

                    <i class="fa-solid fa-address-book"></i>

                    <span>Красная площадь, 1, Москва</span>
                </div>


                <div class="contact-box__item">

                    <i class="fa-solid fa-clock"></i>

                    <span>Пн-пт с 9 до 6</span>
                </div>
            </div>

            <div class="social-box header__social-box">

                <a class="mail header__mail header__mail_mob" href="mail-to:test@mail.ru">
                    <i class="fa-solid fa-envelope"></i>
                </a>

                <a class="phone header__phone header__phone_mob" href="tel:+79999999999">
                    <i class="fa-solid fa-phone"></i>
                </a>

                <a href="#">
                    <i class="fa-brands fa-whatsapp text-[#25D366]"></i>
                </a>

                <a href="#">
                    <i class="fa-brands fa-telegram text-[#2AABEE]"></i>
                </a>
            </div>

            <button class="btn header__btn btn-anim" data-fancybox data-src='#universal-popup-form'
                data-title="Начать сотрудничество" data-subtitle="Можете кратко описать интересующую вас услугу">
                Начать проект
            </button>

            {{> btnBurgerMenu}}
        </div>
    </div>
    <div class="container header__container">
        <div class="header-bottom">

            <div class="menu">
                {{> menu}}
            </div>
        </div>

    </div>
</header>

{{> sticky-header}}

{{> burgerMenu}}