<section class='hero'>
    <img class='img-bg' src='@img/photo_2025-10-11_21-49-50 1.png' alt='' loading='lazy'>

    <div class='container hero__container'>

        <h1 class="hero-title">
            Разработка сайтов
            для роста вашего бизнеса
        </h1>

        <div class="hero__subtitle">
            Создаем современные сайты, которые приносят клиентов
        </div>

        <div class="hero__btn-box">
            <button class="btn btn-anim">
                Заказать звонок
            </button>

        </div>
    </div>

</section>