<section class='hero'>
    <img class='img-bg' src='@img/hero-bg.png' alt='' loading='lazy'>

    <div class='container hero__container'>

        <h1>
            Профессиональные услуги для вашего бизнеса
        </h1>

        <div class="hero__subtitle">
            Решаем задачи быстро, качественно и с гарантией результата
        </div>

        <div class="hero__btn-box">
            <button class="btn">
                Заказать консультацию
            </button>

            <button class="btn btn__second">
                Посмотреть работы
            </button>
        </div>
    </div>
</section>