<section class='main-form-section'>
    <div class='container main-form__container'>

        <div class="main-form__img">
            <img width='594' height='594' class='img-bg' src='@img/8adac723f636afa703d20c35bacc9c40 1.png' alt=''
                loading='lazy'>
        </div>

        <div class="main-form-box max-w-[725px]">

            <h2 class="main-form__title">
                Готовы начать сотрудничество?
            </h2>

            <div class="main-form__subtitle">
                Оставьте контакт — мы оперативно свяжемся, обсудим вашу задачу и предложим условия, которые работают.
            </div>

            <form class="main-form">
                <div class="main-form__thirt-row">
                    <div class="form__row">
                        <input type="text" name="name" placeholder="Ваше имя">
                    </div>

                    <div class="form__row">
                        <input type="text" name="tel" placeholder="Номер телефона">
                    </div>

                    <button class="btn btn-anim btn__submit" type="submit">Оставить заявку</button>
                </div>

                <div class="agree-box">
                    <input class="agree-check" type="checkbox">
                    <span>Я согласен(а) с <a href="#">Политикой конфиденциальности.</a>

                    </span>
                </div>
            </form>

        </div>

    </div>
</section>