<section class='portfolio-prev'>
    <div class='container portfolio-prev__container'>

        <div class="portfolio-prev__filter-box">
            <h2>
                Кейсы
            </h2>

            <div class="portfolio-prev__filter scroll-snap">

                <div class="portfolio-prev__filter-item active scroll-snap__item">
                    Разработка дизайна
                </div>

                <div class="portfolio-prev__filter-item scroll-snap__item">
                    Разработка сайтов
                </div>

                <div class="portfolio-prev__filter-item scroll-snap__item">
                    Продвижение
                </div>

            </div>

            <div class="portfolio-prev__text">
                С 2019 года внедрили более 100 CRM систем Битрикс24 для наших клиентов
            </div>

            <button class="btn btn-anim portfolio-prev__btn desc">
                <span>Все кейсы</span>
                <i class="fa-solid fa-suitcase"></i>
            </button>
        </div>


    </div>

    <div class="slider-wrap w-[100%] !p-[clamp(0rem,-0.91rem+3.88vw,3.75rem)_0_clamp(0rem,-0.91rem+3.88vw,3.75rem)_0]">
        <!-- Слайдер -->
        <div class='swiper portfolio-prev__slider'>
            <!-- Обертка слайдера -->
            <div class='swiper-wrapper items-stretch'>
                <!-- Слайды -->
                <div class='swiper-slide portfolio-prev__slide'>
                    <div class="portfolio-prev__card">

                        <div class="portfolio-prev__card-img">
                            <img width='' height='' class='img-bg' src='@img/Mask-group.png' alt='' loading='lazy'>
                        </div>

                        <div class="portfolio-prev__card-text-box">
                            <div class="portfolio-prev__card-title">
                                Корпоративный портал
                                «ТехноПром»
                            </div>

                            <div class="portfolio-prev__card-text">
                                Многостраничный сайт для промышленного холдинга. Структурированная подача информации
                                для партнеров и инвесторов, интегрированная система новостей и документооборота.
                            </div>



                            <a class="link portfolio-prev__card-link" href="#">
                                <span>Подробнее</span>

                                <svg width="19" height="12" viewBox="0 0 19 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M18.5303 6.53033C18.8232 6.23744 18.8232 5.76256 18.5303 5.46967L13.7574 0.696699C13.4645 0.403806 12.9896 0.403806 12.6967 0.696699C12.4038 0.989593 12.4038 1.46447 12.6967 1.75736L16.9393 6L12.6967 10.2426C12.4038 10.5355 12.4038 11.0104 12.6967 11.3033C12.9896 11.5962 13.4645 11.5962 13.7574 11.3033L18.5303 6.53033ZM0 6V6.75H18V6V5.25H0V6Z"
                                        fill="#5C90B4"></path>
                                </svg>
                            </a>
                        </div>

                    </div>
                </div>
                <div class='swiper-slide portfolio-prev__slide'>
                    <div class="portfolio-prev__card">

                        <div class="portfolio-prev__card-img">
                            <img width='' height='' class='img-bg' src='@img/Mask-group.png' alt='' loading='lazy'>
                        </div>

                        <div class="portfolio-prev__card-text-box">
                            <div class="portfolio-prev__card-title">
                                Корпоративный портал
                                «ТехноПром»
                            </div>

                            <div class="portfolio-prev__card-text">
                                Многостраничный сайт для промышленного холдинга. Структурированная подача информации
                                для партнеров и инвесторов, интегрированная система новостей и документооборота.

                            </div>



                            <a class="link portfolio-prev__card-link" href="#">
                                <span>Подробнее</span>

                                <svg width="19" height="12" viewBox="0 0 19 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M18.5303 6.53033C18.8232 6.23744 18.8232 5.76256 18.5303 5.46967L13.7574 0.696699C13.4645 0.403806 12.9896 0.403806 12.6967 0.696699C12.4038 0.989593 12.4038 1.46447 12.6967 1.75736L16.9393 6L12.6967 10.2426C12.4038 10.5355 12.4038 11.0104 12.6967 11.3033C12.9896 11.5962 13.4645 11.5962 13.7574 11.3033L18.5303 6.53033ZM0 6V6.75H18V6V5.25H0V6Z"
                                        fill="#5C90B4"></path>
                                </svg>
                            </a>
                        </div>

                    </div>
                </div>
                <div class='swiper-slide portfolio-prev__slide'>
                    <div class="portfolio-prev__card">

                        <div class="portfolio-prev__card-img">
                            <img width='' height='' class='img-bg' src='@img/Mask-group.png' alt='' loading='lazy'>
                        </div>

                        <div class="portfolio-prev__card-text-box">
                            <div class="portfolio-prev__card-title">
                                Корпоративный портал
                                «ТехноПром»
                            </div>

                            <div class="portfolio-prev__card-text">
                                Многостраничный сайт для промышленного холдинга. Структурированная подача информации
                                для партнеров и инвесторов, интегрированная система новостей и документооборота.
                            </div>



                            <a class="link portfolio-prev__card-link" href="#">
                                <span>Подробнее</span>

                                <svg width="19" height="12" viewBox="0 0 19 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M18.5303 6.53033C18.8232 6.23744 18.8232 5.76256 18.5303 5.46967L13.7574 0.696699C13.4645 0.403806 12.9896 0.403806 12.6967 0.696699C12.4038 0.989593 12.4038 1.46447 12.6967 1.75736L16.9393 6L12.6967 10.2426C12.4038 10.5355 12.4038 11.0104 12.6967 11.3033C12.9896 11.5962 13.4645 11.5962 13.7574 11.3033L18.5303 6.53033ZM0 6V6.75H18V6V5.25H0V6Z"
                                        fill="#5C90B4"></path>
                                </svg>
                            </a>
                        </div>

                    </div>
                </div>
                <div class='swiper-slide portfolio-prev__slide'>
                    <div class="portfolio-prev__card">

                        <div class="portfolio-prev__card-img">
                            <img width='' height='' class='img-bg' src='@img/Mask-group.png' alt='' loading='lazy'>
                        </div>

                        <div class="portfolio-prev__card-text-box">
                            <div class="portfolio-prev__card-title">
                                Корпоративный портал
                                «ТехноПром»
                            </div>

                            <div class="portfolio-prev__card-text">
                                Многостраничный сайт для промышленного холдинга. Структурированная подача информации
                                для партнеров и инвесторов, интегрированная система новостей и документооборота.
                            </div>



                            <a class="link portfolio-prev__card-link" href="#">
                                <span>Подробнее</span>

                                <svg width="19" height="12" viewBox="0 0 19 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M18.5303 6.53033C18.8232 6.23744 18.8232 5.76256 18.5303 5.46967L13.7574 0.696699C13.4645 0.403806 12.9896 0.403806 12.6967 0.696699C12.4038 0.989593 12.4038 1.46447 12.6967 1.75736L16.9393 6L12.6967 10.2426C12.4038 10.5355 12.4038 11.0104 12.6967 11.3033C12.9896 11.5962 13.4645 11.5962 13.7574 11.3033L18.5303 6.53033ZM0 6V6.75H18V6V5.25H0V6Z"
                                        fill="#5C90B4"></path>
                                </svg>
                            </a>
                        </div>

                    </div>
                </div>
                <div class='swiper-slide portfolio-prev__slide'>
                    <div class="portfolio-prev__card">

                        <div class="portfolio-prev__card-img">
                            <img width='' height='' class='img-bg' src='@img/Mask-group.png' alt='' loading='lazy'>
                        </div>

                        <div class="portfolio-prev__card-text-box">
                            <div class="portfolio-prev__card-title">
                                Корпоративный портал
                                «ТехноПром»
                            </div>

                            <div class="portfolio-prev__card-text">
                                Многостраничный сайт для промышленного холдинга. Структурированная подача информации
                                для партнеров и инвесторов, интегрированная система новостей и документооборота.
                            </div>



                            <a class="link portfolio-prev__card-link" href="#">
                                <span>Подробнее</span>

                                <svg width="19" height="12" viewBox="0 0 19 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M18.5303 6.53033C18.8232 6.23744 18.8232 5.76256 18.5303 5.46967L13.7574 0.696699C13.4645 0.403806 12.9896 0.403806 12.6967 0.696699C12.4038 0.989593 12.4038 1.46447 12.6967 1.75736L16.9393 6L12.6967 10.2426C12.4038 10.5355 12.4038 11.0104 12.6967 11.3033C12.9896 11.5962 13.4645 11.5962 13.7574 11.3033L18.5303 6.53033ZM0 6V6.75H18V6V5.25H0V6Z"
                                        fill="#5C90B4"></path>
                                </svg>
                            </a>
                        </div>

                    </div>
                </div>
                <div class='swiper-slide portfolio-prev__slide'>
                    <div class="portfolio-prev__card">

                        <div class="portfolio-prev__card-img">
                            <img width='' height='' class='img-bg' src='@img/Mask-group.png' alt='' loading='lazy'>
                        </div>

                        <div class="portfolio-prev__card-text-box">
                            <div class="portfolio-prev__card-title">
                                Корпоративный портал
                                «ТехноПром»
                            </div>

                            <div class="portfolio-prev__card-text">
                                Многостраничный сайт для промышленного холдинга. Структурированная подача информации
                                для партнеров и инвесторов, интегрированная система новостей и документооборота.
                            </div>



                            <a class="link portfolio-prev__card-link" href="#">
                                <span>Подробнее</span>

                                <svg width="19" height="12" viewBox="0 0 19 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M18.5303 6.53033C18.8232 6.23744 18.8232 5.76256 18.5303 5.46967L13.7574 0.696699C13.4645 0.403806 12.9896 0.403806 12.6967 0.696699C12.4038 0.989593 12.4038 1.46447 12.6967 1.75736L16.9393 6L12.6967 10.2426C12.4038 10.5355 12.4038 11.0104 12.6967 11.3033C12.9896 11.5962 13.4645 11.5962 13.7574 11.3033L18.5303 6.53033ZM0 6V6.75H18V6V5.25H0V6Z"
                                        fill="#5C90B4"></path>
                                </svg>
                            </a>
                        </div>

                    </div>
                </div>
                <div class='swiper-slide portfolio-prev__slide'>
                    <div class="portfolio-prev__card">

                        <div class="portfolio-prev__card-img">
                            <img width='' height='' class='img-bg' src='@img/Mask-group.png' alt='' loading='lazy'>
                        </div>

                        <div class="portfolio-prev__card-text-box">
                            <div class="portfolio-prev__card-title">
                                Корпоративный портал
                                «ТехноПром»
                            </div>

                            <div class="portfolio-prev__card-text">
                                Многостраничный сайт для промышленного холдинга. Структурированная подача информации
                                для партнеров и инвесторов, интегрированная система новостей и документооборота.
                            </div>



                            <a class="link portfolio-prev__card-link" href="#">
                                <span>Подробнее</span>

                                <svg width="19" height="12" viewBox="0 0 19 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M18.5303 6.53033C18.8232 6.23744 18.8232 5.76256 18.5303 5.46967L13.7574 0.696699C13.4645 0.403806 12.9896 0.403806 12.6967 0.696699C12.4038 0.989593 12.4038 1.46447 12.6967 1.75736L16.9393 6L12.6967 10.2426C12.4038 10.5355 12.4038 11.0104 12.6967 11.3033C12.9896 11.5962 13.4645 11.5962 13.7574 11.3033L18.5303 6.53033ZM0 6V6.75H18V6V5.25H0V6Z"
                                        fill="#5C90B4"></path>
                                </svg>
                            </a>
                        </div>

                    </div>
                </div>
                <div class='swiper-slide portfolio-prev__slide'>
                    <div class="portfolio-prev__card">

                        <div class="portfolio-prev__card-img">
                            <img width='' height='' class='img-bg' src='@img/Mask-group.png' alt='' loading='lazy'>
                        </div>

                        <div class="portfolio-prev__card-text-box">
                            <div class="portfolio-prev__card-title">
                                Корпоративный портал
                                «ТехноПром»
                            </div>

                            <div class="portfolio-prev__card-text">
                                Многостраничный сайт для промышленного холдинга. Структурированная подача информации
                                для партнеров и инвесторов, интегрированная система новостей и документооборота.
                            </div>



                            <a class="link portfolio-prev__card-link" href="#">
                                <span>Подробнее</span>

                                <svg width="19" height="12" viewBox="0 0 19 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M18.5303 6.53033C18.8232 6.23744 18.8232 5.76256 18.5303 5.46967L13.7574 0.696699C13.4645 0.403806 12.9896 0.403806 12.6967 0.696699C12.4038 0.989593 12.4038 1.46447 12.6967 1.75736L16.9393 6L12.6967 10.2426C12.4038 10.5355 12.4038 11.0104 12.6967 11.3033C12.9896 11.5962 13.4645 11.5962 13.7574 11.3033L18.5303 6.53033ZM0 6V6.75H18V6V5.25H0V6Z"
                                        fill="#5C90B4"></path>
                                </svg>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Кнопки навигации -->
            <div id="portfolio-slider-btn__prev" class='slider-btn slider-btn__prev absolute left-[40%] z-[2]
                top-[50%]'>
                <i class="fa-solid fa-arrow-left"></i>
            </div>
            <div id="portfolio-slider-btn__next" class='slider-btn slider-btn__next absolute right-0 z-[2]
                top-[50%]'>
                <i class="fa-solid fa-arrow-right"></i>
            </div>

        </div>
    </div>

    <button class="btn btn-anim portfolio-prev__btn mob">
        <span>Все кейсы</span>
        <i class="fa-solid fa-suitcase"></i>
    </button>

</section>