<section class='portfolio-prev'>
    <div class='container portfolio-prev__container'>

        <h2 class="block-title">
            Наши проекты
        </h2>

        <div
            class="grid !mb-8 gap-[clamp(0.625rem,0.396rem+0.98vw,1.25rem)] grid-cols-1 sm:grid-cols-[repeat(auto-fit,minmax(380px,1fr))]">

            <div class="portfolio-prev__card">
                <a class="portfolio-prev__card-link" href="#"></a>

                <img class="portfolio-prev__card-img img-bg" src='@img/portfolio-prev-img-1.jpg' alt='' loading='lazy'>

                <div class="portfolio-prev__card-title">
                    Лендинг для стартапа
                </div>

            </div>

            <div class="portfolio-prev__card">
                <a class="portfolio-prev__card-link" href="#"></a>

                <img class="portfolio-prev__card-img img-bg" src='@img/portfolio-prev-img-2.jpg' alt='' loading='lazy'>

                <div class="portfolio-prev__card-title">
                    Корпоративный сайт
                </div>

            </div>

            <div class="portfolio-prev__card">
                <a class="portfolio-prev__card-link" href="#"></a>

                <img class="portfolio-prev__card-img img-bg" src='@img/portfolio-prev-img-3.jpg' alt='' loading='lazy'>

                <div class="portfolio-prev__card-title">
                    E-commerce платформа
                </div>

            </div>

            <div class="portfolio-prev__card">
                <a class="portfolio-prev__card-link" href="#"></a>

                <img class="portfolio-prev__card-img img-bg" src='@img/portfolio-prev-img-4.jpg' alt='' loading='lazy'>

                <div class="portfolio-prev__card-title">
                    Мобильное приложение
                </div>

            </div>

            <div class="portfolio-prev__card">
                <a class="portfolio-prev__card-link" href="#"></a>

                <img class="portfolio-prev__card-img img-bg" src='@img/portfolio-prev-img-5.jpg' alt='' loading='lazy'>

                <div class="portfolio-prev__card-title">
                    Веб-приложение SaaS
                </div>

            </div>

            <div class="portfolio-prev__card">
                <a class="portfolio-prev__card-link" href="#"></a>

                <img class="portfolio-prev__card-img img-bg" src='@img/portfolio-prev-img-6.jpg' alt='' loading='lazy'>

                <div class="portfolio-prev__card-title">
                    Портфолио сайт
                </div>

            </div>

        </div>

        <a class="btn self-center" href="#">Все проекты</a>

    </div>
</section>