<section class="main-form-section">
    <div class="container main-form__container">

        <div class="main-form-box max-w-[725px]">

            <h2 class="main-form__title">
                Остались вопросы?
            </h2>

            <div class="main-form__subtitle">
                Заполните форму, мы свяжемся с вами в ближайшее время, ответим на все вопросы и предоставим консультацию
                по ассортименту.
            </div>

            <form class="second-form">
                <div class="second-form__two-row">
                    <div class="form__row">
                        <input type="text" name="name" placeholder="Ваше имя">
                    </div>

                    <div class="form__row">
                        <input type="text" name="tel" placeholder="Номер телефона" inputmode="text">
                    </div>


                </div>

                <div class="form__row">
                    <textarea name="text" id="" placeholder="Ваш вопрос"></textarea>
                </div>

                <div class="agree-box">
                    <input class="agree-check" type="checkbox">
                    <span>Я согласен(а) с <a href="#">Политикой конфиденциальности.</a>

                    </span>
                </div>

                <button class="btn btn-anim btn__submit" type="submit">Оставить заявку</button>


            </form>

        </div>

        <div class="main-form__img">
            <img width="594" height="594" class="img-bg" src="@img/8a371669c55fc7899f532d896e80ace4 1.png" alt=""
                loading="lazy">
        </div>

    </div>
</section>