<section class='services-prev'>
    <div class='container services-prev__container'>

        <div class="title-box">

            <h2 class="block-title">
                Наши <span class="accent">услуги</span>
            </h2>

            <div class="title-box__subtitle">
                Мы специализируемся на решении сложных задач
            </div>

        </div>

        <div class="services-prev__card-box">
            <div class="services-prev__card">

                <a href="#" class="services-prev__card-img">
                    <img width='435' height='285' class='img-bg' src='@img/photo_2025-10-11_22-15-33 1.png' alt=''
                        loading='lazy'>
                </a>

                <div class="services-prev__card-text-box">
                    <div class="services-prev__card-title">
                        Разработка индивидуального дизайна
                    </div>

                    <div class="services-prev__card-text">
                        Дизайн, который продает.<br> Создадим удобный и современный дизайн, который подчеркнет
                        уникальность
                        вашего бизнеса и увеличит конверсию.
                    </div>

                    <a class="link services-prev__card-link" href="#">
                        <span>Подробнее</span>

                        <svg width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18.5303 6.53033C18.8232 6.23744 18.8232 5.76256 18.5303 5.46967L13.7574 0.696699C13.4645 0.403806 12.9896 0.403806 12.6967 0.696699C12.4038 0.989593 12.4038 1.46447 12.6967 1.75736L16.9393 6L12.6967 10.2426C12.4038 10.5355 12.4038 11.0104 12.6967 11.3033C12.9896 11.5962 13.4645 11.5962 13.7574 11.3033L18.5303 6.53033ZM0 6V6.75H18V6V5.25H0V6Z"
                                fill="#5C90B4" />
                        </svg>
                    </a>
                </div>

            </div>

            <div class="services-prev__card">

                <a href="#" class="services-prev__card-img">
                    <img width='435' height='285' class='img-bg' src='@img/photo_2025-10-11_23-06-55 1.png' alt=''
                        loading='lazy'>
                </a>

                <div class="services-prev__card-text-box">
                    <div class="services-prev__card-title">
                        Разработка сайта
                    </div>

                    <div class="services-prev__card-text">
                        Сайт, который работает.<br>Профессиональная разработка, ориентированная на результат:
                        привлечение
                        клиентов и увеличение продаж.
                    </div>

                    <a class="link services-prev__card-link" href="#">
                        <span>Подробнее</span>

                        <svg width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18.5303 6.53033C18.8232 6.23744 18.8232 5.76256 18.5303 5.46967L13.7574 0.696699C13.4645 0.403806 12.9896 0.403806 12.6967 0.696699C12.4038 0.989593 12.4038 1.46447 12.6967 1.75736L16.9393 6L12.6967 10.2426C12.4038 10.5355 12.4038 11.0104 12.6967 11.3033C12.9896 11.5962 13.4645 11.5962 13.7574 11.3033L18.5303 6.53033ZM0 6V6.75H18V6V5.25H0V6Z"
                                fill="#5C90B4" />
                        </svg>
                    </a>
                </div>

            </div>

            <div class="services-prev__card">

                <a href="#" class="services-prev__card-img">
                    <img width='435' height='285' class='img-bg' src='@img/photo_2025-10-11_23-15-26 1.png' alt=''
                        loading='lazy'>
                </a>

                <div class="services-prev__card-text-box">
                    <div class="services-prev__card-title">
                        Консалтинг
                    </div>

                    <div class="services-prev__card-text">
                        Стратегия для роста.<br> Найдем слабые места и разработаем план развития вашего бизнеса
                    </div>

                    <a class="link services-prev__card-link" href="#">
                        <span>Подробнее</span>

                        <svg width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18.5303 6.53033C18.8232 6.23744 18.8232 5.76256 18.5303 5.46967L13.7574 0.696699C13.4645 0.403806 12.9896 0.403806 12.6967 0.696699C12.4038 0.989593 12.4038 1.46447 12.6967 1.75736L16.9393 6L12.6967 10.2426C12.4038 10.5355 12.4038 11.0104 12.6967 11.3033C12.9896 11.5962 13.4645 11.5962 13.7574 11.3033L18.5303 6.53033ZM0 6V6.75H18V6V5.25H0V6Z"
                                fill="#5C90B4" />
                        </svg>
                    </a>
                </div>

            </div>

            <div class="services-prev__card">

                <a href="#" class="services-prev__card-img">
                    <img width='435' height='285' class='img-bg' src='@img/photo_2025-10-11_22-15-33 1.png' alt=''
                        loading='lazy'>
                </a>

                <div class="services-prev__card-text-box">
                    <div class="services-prev__card-title">
                        Разработка индивидуального дизайна
                    </div>

                    <div class="services-prev__card-text">
                        Дизайн, который продает. Создадим удобный и современный дизайн, который подчеркнет уникальность
                        вашего бизнеса и увеличит конверсию.
                    </div>

                    <a class="link services-prev__card-link" href="#">
                        <span>Подробнее</span>

                        <svg width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18.5303 6.53033C18.8232 6.23744 18.8232 5.76256 18.5303 5.46967L13.7574 0.696699C13.4645 0.403806 12.9896 0.403806 12.6967 0.696699C12.4038 0.989593 12.4038 1.46447 12.6967 1.75736L16.9393 6L12.6967 10.2426C12.4038 10.5355 12.4038 11.0104 12.6967 11.3033C12.9896 11.5962 13.4645 11.5962 13.7574 11.3033L18.5303 6.53033ZM0 6V6.75H18V6V5.25H0V6Z"
                                fill="#5C90B4" />
                        </svg>
                    </a>
                </div>

            </div>
        </div>

        <a class="btn btn-anim services-prev__btn" href="#">Все услуги</a>
    </div>
</section>