<section class='team-prev'>
    <div class='container team-prev__container'>

        <h2 class="block-title">
            Наша<br>
            <span class="accent">команда</span>
        </h2>

        <div class="slider-wrap">
            <!-- Слайдер -->
            <div class='swiper team-prev__slider w-[calc(50%+50vw)]'>
                <!-- Обертка слайдера -->
                <div class='swiper-wrapper'>
                    <!-- Слайды -->
                    <div class='swiper-slide'>
                        <div class="team-prev__slide">
                            <img width="400" height="630" class='img-bg' src='@img/team-prev-img-1.png' alt=''
                                loading='lazy'>

                            <div class="team-prev__slide-text-box">
                                <div class="team-prev__slide-name">
                                    Никита Смирнов
                                </div>

                                <div class="team-prev__slide-position">
                                    Технический директор
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='swiper-slide'>
                        <div class="team-prev__slide">
                            <img width="400" height="630" class='img-bg' src='@img/team-prev-img-1.png' alt=''
                                loading='lazy'>

                            <div class="team-prev__slide-text-box">
                                <div class="team-prev__slide-name">
                                    Никита Смирнов
                                </div>

                                <div class="team-prev__slide-position">
                                    Технический директор
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='swiper-slide'>
                        <div class="team-prev__slide">
                            <img width="400" height="630" class='img-bg' src='@img/team-prev-img-1.png' alt=''
                                loading='lazy'>

                            <div class="team-prev__slide-text-box">
                                <div class="team-prev__slide-name">
                                    Никита Смирнов
                                </div>

                                <div class="team-prev__slide-position">
                                    Технический директор
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='swiper-slide'>
                        <div class="team-prev__slide">
                            <img width="400" height="630" class='img-bg' src='@img/team-prev-img-1.png' alt=''
                                loading='lazy'>

                            <div class="team-prev__slide-text-box">
                                <div class="team-prev__slide-name">
                                    Никита Смирнов
                                </div>

                                <div class="team-prev__slide-position">
                                    Технический директор
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='swiper-slide'>
                        <div class="team-prev__slide">
                            <img width="400" height="630" class='img-bg' src='@img/team-prev-img-1.png' alt=''
                                loading='lazy'>

                            <div class="team-prev__slide-text-box">
                                <div class="team-prev__slide-name">
                                    Никита Смирнов
                                </div>

                                <div class="team-prev__slide-position">
                                    Технический директор
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='swiper-slide'>
                        <div class="team-prev__slide">
                            <img width="400" height="630" class='img-bg' src='@img/team-prev-img-1.png' alt=''
                                loading='lazy'>

                            <div class="team-prev__slide-text-box">
                                <div class="team-prev__slide-name">
                                    Никита Смирнов
                                </div>

                                <div class="team-prev__slide-position">
                                    Технический директор
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>