<section class='team-prev'>
    <div class='container team-prev__container'>

        <h2 class="block-title">
            Команда
        </h2>

        <div class="slider-wrap">
            <!-- Слайдер -->
            <div class='swiper team-prev__slider w-[calc(50%+50vw)]'>
                <!-- Обертка слайдера -->
                <div class='swiper-wrapper'>
                    <!-- Слайды -->
                    <div class='swiper-slide'>
                        <div class="team-prev__slide">
                            <img width="400" height="630" class='img-bg' src='@img/team-prev-img-1.jpg' alt=''
                                loading='lazy'>

                            <div class="team-prev__slide-name">
                                Никита Смирнов
                            </div>

                            <div class="team-prev__slide-position">
                                Технический директор
                            </div>
                        </div>
                    </div>

                    <div class='swiper-slide'>
                        <div class="team-prev__slide">
                            <img width="400" height="630" class='img-bg' src='@img/team-prev-img-2.jpg' alt=''
                                loading='lazy'>

                            <div class="team-prev__slide-name">
                                Ангелина Владимировна
                            </div>

                            <div class="team-prev__slide-position">
                                Lead UX/UI Designer
                            </div>
                        </div>
                    </div>

                    <div class='swiper-slide'>
                        <div class="team-prev__slide">
                            <img width="400" height="630" class='img-bg' src='@img/team-prev-img-3.jpg' alt=''
                                loading='lazy'>

                            <div class="team-prev__slide-name">
                                Дмитрий Говорунов
                            </div>

                            <div class="team-prev__slide-position">
                                Senior Backend Developer
                            </div>
                        </div>
                    </div>

                    <div class='swiper-slide'>
                        <div class="team-prev__slide">
                            <img width="400" height="630" class='img-bg' src='@img/team-prev-img-4.jpg' alt=''
                                loading='lazy'>

                            <div class="team-prev__slide-name">
                                Ольга Смирнова
                            </div>

                            <div class="team-prev__slide-position">
                                Frontend Team Lead
                            </div>
                        </div>
                    </div>

                    <div class='swiper-slide'>
                        <div class="team-prev__slide">
                            <img width="400" height="630" class='img-bg' src='@img/team-prev-img-5.jpg' alt=''
                                loading='lazy'>

                            <div class="team-prev__slide-name">
                                Сергей Вавилов
                            </div>

                            <div class="team-prev__slide-position">
                                DevOps Engineer
                            </div>
                        </div>
                    </div>

                    <div class='swiper-slide'>
                        <div class="team-prev__slide">
                            <img width="400" height="630" class='img-bg' src='@img/team-prev-img-6.jpg' alt=''
                                loading='lazy'>

                            <div class="team-prev__slide-name">
                                Валентина Наумова
                            </div>

                            <div class="team-prev__slide-position">
                                Project Manager
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>