//=============================внешние импорты===================================

@use "sass:map";
@use "sass:meta";
@use "sass:math";
//=============================рутовые стили===================================
@use "./main/mixins-vars"as *; // импортируем с пространством имен
@use "./main/fonts";
@use "./main/reset";
@use "./main/root";
@use "./main/typography";
@use "./main/vendor";

//================Импорты компонентов=====================
@use "./components/header.scss";
@use "./components/footer.scss";
@use "./components/hero.scss";
@use "./components/services-prev.scss";
@use "./components/advantages-prev.scss";
@use "./components/portfolio-prev.scss";
@use "./components/reviews-prev.scss";
@use "./components/call.scss";
@use "./components/blog-prev.scss";
@use "./components/team-prev.scss";
@use "./components/faq-prev.scss";
@use "./components/contacts-prev.scss";

//================Атомарные стили=====================
@use "./vendor/atomar.scss";

//========основные стили============
body {
    font-family: var(--font-family);
    background-color: var(--bg-color-main);
}

main {
    // display: flex;
    // flex-direction: column;
    // gap: clamp-px(50, 120);

    &>section,
    &>div {
        margin-bottom: clamp-px(50, 120);

        &:last-child {}
    }
}